* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Raleway;
}

h1 {
    color: white;
    display: inline;
    background-color: transparent;
}

button {
    background-color: lightslategray;
}

.header {
    background-image: url("./../../assets/pexels-adrien-olichon-2387532.jpg");
}

.nav-tabs {
    justify-content: flex-end;
    margin-left: 5%;
    background-color: transparent;
}

.nav-tabs a {
    text-decoration: none;
    color: white;
}
.portfolio-card-container {
    display: flex;
}
.portfolio-card {
    color: white;
    width: 20%;
    background-color: lightslategray;
    padding: 2%;
    margin: 2%;
    border-radius: 40px;
}

.portfolio-card:hover {
    width: 30%;
    animation-delay: 2s;
}

.portfolio-card a, h5, p {
    background-color: lightslategray;
    text-decoration: none;
    color: white;
}

#README-img {
    height: 100px;;
}

.about-me{
    margin: 5%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: lightslategray;
}

.about-me a {
    background-color: lightslategray;
    color: white;
}

.resume {
    margin: 5%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;
}

.resume p, a, h2 {
    background-color: white;
}

.resume-ul {
    background-color: white;
}

.resume-li {
    background-color: white;
}

.contact {
    margin: 5%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;
}

.contact p {
    background-color: white;
}

.contact-ul {
    background-color: white;
}

.contact-li {
    background-color: white;
}

.footer {
    display: flex;
    justify-content: space-around;
    color: lightslategray;
    
}

.footer p {
    background-color: black;
}
