* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: inline;
}

.nav-tabs {
    justify-content: flex-end;
    margin-left: 5%;
}

.carousel {
    margin-top: 3%;
    max-width: 50%;
    margin: 0 auto;
}

.about-me {
    margin: 5%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 15px;
}

.resume {
    margin: 5%;
    padding: 2%;
    border: solid 2px black;
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: space-around;
}
